!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding:10px 20px;")!= body
    #Footer
      #Signature
        | Created by
        a(href="http://www.twitter.com/abelmartin", target="_blank") Abel Martin
        |, who enjoys coding with the members of the 
        a(href="http://www.kickasslabs.com", target="_blank") Kickass Labs

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/javascripts/raphael-min.js')
    script(src='/javascripts/vectorcrumbs.js')
    script(src='/javascripts/vc_app.js')
