!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
  body(style="padding:10px 20px;")!= body
    / script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/javascripts/raphael-min.js')
    script(src='/javascripts/vectorcrumbs.js')
    script(src='/javascripts/vc_app.js')
